/* =======================google font======================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/* =======================Common CSS======================== */
body{
    font-family: 'Raleway', sans-serif;
}
.section-margin{
    margin-bottom: 130px;
}
/* elearning css style */
.elearning{
    background-color: #F4FAFD;
}

/* modal css style */
.model-bg{
    background-color: #289BDE;
}
/* student Feedback */
.fa-star {
    color:goldenrod;
}
.semigold{
    color:gold;
}