/* =======================google font======================== */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
/* =======================Common CSS======================== */
body {
  font-family: "Raleway", sans-serif;
}
/* carousel css style */
/* .carousel-caption {
  max-width: 100%;
} */

.carousel .carousel-item {
  max-height: 550px;
  
}

.carousel-item .carousel-img {
    position: relative;
}
.carousel-item .carousel-img::after{
    content: " ";
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    right: 0;
    top: 0;
}

/* elearning css style */
.elearning {
  background-color: #f4fafd;
}

/* modal css style */
.model-bg {
  background-color: #289bde;
}
/* student Feedback */
.fa-star {
  color: goldenrod;
}
.semigold {
  color: gold;
}
